<!DOCTYPE html>
<html>

<head>
  <%- include('head',{}); %>
    <title>
      index
    </title>
    <style>
      .page_w {
        width: 200px;
        margin-left: 1100px;
        text-align: center;
        background-color: aquamarine;
        opacity: 0.8;
        font-size: 30px;
        border-radius: 3%;
        padding: 20px;
      }

      #index-bu {
        text-align: center;
        letter-spacing: 10px;
      }
    </style>
</head>

<body>
  <%- include('nav',{userName}); %>
    <table class="layui-table" id="index_margin">
      <colgroup>
        <col width="150">
        <col width="150">
        <col>
        <col width="100">
        <col width="100">
      </colgroup>
      <thead>
        <tr>
          <th id="index-bu">昵称</th>
          <th id="index-bu">加入时间</th>
          <th id="index-bu">加入内容</th>
          <th id="index-bu" colspan="2">操作</th>
        </tr>
      </thead>

      <tbody>
        <% data.blogList.map(item=>{ %>
          <tr>
            <td>
              <a href="/details?_id=<%= item._id %>">
                <%= item.title %>
              </a>
            </td>
            <td>
              <a href="/details?_id=<%= item._id %>">
                <%= item.time %>
              </a>
            </td>
            <td>
              <a href="/details?_id=<%= item._id %>">
                <%- item.content %>
              </a>
            </td>
            <td><a href="/write?_id=<%=item._id%>&page=<%=data.currPage%>">编辑</a></td>
            <!-- <td><a href="/write?">编辑</a></td> -->
            <td><a href="/article/delete?_id=<%=item._id%>&page=<%=data.currPage%>">删除</a></td>
          </tr>
          <% }) %>


      </tbody>
    </table>
    <div class="page_w">
      <% for(let i=1;i <=data.PagesTotle;i++){ %>
        <a href="/?page=<%=i%>" class="<%- data.currPage==i?'active':'' %>">
          <%= i %>
        </a>
        <% } %>
    </div>

</body>

</html>